{% set needItems = [
    {
        img: "need_item_left_01.png",
        alt: "",
        width: "301"
    }, {
        img: "need_item_left_02.png",
        alt: "",
        width: "249"
    }, {
        img: "need_item_left_03.png",
        alt: "",
        width: "247"
    }, {
        img: "need_item_right_01.png",
        alt: "",
        width: "331"
    }, {
        img: "need_item_right_02.png",
        alt: "",
        width: "283"
    }, {
        img: "need_item_right_03.png",
        alt: "",
        width: "302"
    }
] %}

<div class="p-opensupport-need">
    <a href="{{ '/about/' | hrefPath }}" class="c-btn p-opensupport-need__btn">
        <span>ご相談はこちら</span>
        <p class="c-btn__cicle">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="15" viewBox="0 0 20 15" fill="none">
                <path d="M19.7071 8.07106C20.0976 7.68054 20.0976 7.04737 19.7071 6.65685L13.3431 0.292885C12.9526 -0.0976396 12.3195 -0.0976396 11.9289 0.292885C11.5384 0.683409 11.5384 1.31657 11.9289 1.7071L17.5858 7.36395L11.9289 13.0208C11.5384 13.4113 11.5384 14.0445 11.9289 14.435C12.3195 14.8255 12.9526 14.8255 13.3431 14.435L19.7071 8.07106ZM0 7.36395V8.36395H19V7.36395V6.36395H0V7.36395Z" fill="#DA4630"/>
            </svg>
        </p>

    </a>
    <div class="p-opensupport-need-content">
        <div class="p-opensupport-need-content-ttl">
            <p class="p-opensupport-need-content-ttl__sml">テキストテキストテキスト</p>
            <div class="p-opensupport-need-content-ttl__big">
                <p class="p-opensupport-need-content-ttl__big--nor">テキス</p>
                <div class="p-opensupport-need-content-ttl__big--dot">
                    <p>お</p>
                    <p>悩</p>
                    <p>み</p>
                </div>
                <p class="p-opensupport-need-content-ttl__big--nor">テキストテキスト</p>
            </div>
        </div>
        <div class="p-opensupport-need-content-point">
            <div class="p-opensupport-need-content-point__kv">
                <img class="p-opensupport__img u-sp" src="{{ '/assets/img/need_kv.png' | imgPath }}" alt="" width="367" height="209">
            </div>
            {% for item in needItems %}
                <p class="p-opensupport-need-content-point__item p-opensupport-need-content-point__item--{{ loop.index }}">
                    <img src="{{ ('/assets/img/' + item.img) | imgPath }}" alt="{{ item.alt }}">
                </p>
            {% endfor %}
        </div>
    </div>
    <div class="p-opensupport-need-appeal">
        <div class="p-opensupport-need-appeal__ttl">
            <div class="p-opensupport-need-appeal__ttl--sml">
                <p>テキストテキスト</p>
            </div>
            <div class="p-opensupport-need-appeal__ttl--big">
                <p>テキストテキストテキスト</p>
            </div>
        </div>
        <p class="p-opensupport-need-appeal__img">
            <img class="p-opensupport__img" src="{{ '/assets/img/need_appeal_kv.png' | imgPath }}" alt="" width="390">
        </p>
    </div>

</div>