<footer class="site-footer">
  <div class="container">
    <a href="{{ 'https://www.itscom.co.jp/' | hrefPath }}" target="_blank">
      <img src="{{ '/assets/img/logo_footer.png'| imgPath}}" alt="イッツコム" width="307" height="104" class="u-pc">
      <img src="{{ '/assets/img/logo_footer_sp.png'| imgPath}}" alt="イッツコム" width="207" height="56" class="u-sp">
    </a>
    <p>© 2026 its communications Inc.</p>
  </div>
</footer>