<header class="site-header">
  <a href="{{ 'https://www.itscom.co.jp/' | hrefPath }}" target="_blank">
    <p>
      <img src="{{ '/assets/img/logo.png'| imgPath}}" alt="イッツコム" width="217" height="65" class="u-pc">
      <img src="{{ '/assets/img/logo_sp.png'| imgPath}}" alt="イッツコム" width="114" height="30" class="u-sp">
    </p>
  </a>
</header>