<!DOCTYPE html>
<html lang="ja">

  <head>
    <meta charset="UTF-8">
    {%- if(pageTitle) %}
      <title>{{ pageTitle }}｜ワコール直営の公式下着通販サイト Wacoal Web Store</title>
    {%- else %}
      <title>{{ site.title }}</title>
    {%- endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="https://store.wacoal.jp/topics/feature/award.html">
    <link rel="apple-touch-icon-precomposed" href="http://store.wacoal.jp/apple-touch-icon.png">
    <link rel="shortcut icon" href="https://store.wacoal.jp/favicon.ico">
    <meta name="robots" content="noodp,noydir">
    <meta name="format-detection" content="telephone=no">

    {% if(pageDescription) -%}
      <meta name="description" content="{{ pageDescription }}">
    {% else -%}
      <meta name="description" content="{{ description }}">
    {% endif -%}

    {%- if(pageKeywords) -%}
      <meta name="keywords" content="{{ pageKeywords }}">
    {% else -%}
      <meta name="keywords" content="{{ keywords }}">
    {% endif -%}

    <!-- OGP -->
    <meta property="og:title" content="{{ pageTitle }}">
    <meta property="og:type" content="article">
    <meta property="og:url" content="{{ pageName | pageUrl }}">
    <meta property="og:image" content="{{ pageOgpImage | ogpPath }}">
    {%- if(pageDescription) %}
      <meta property="og:description" content="{{ pageDescription }}">
    {%- else %}
      <meta property="og:description" content="{{ description }}">
    {%- endif %}
    <meta property="og:locale" content="ja_JP">
    <meta property="fb:app_id" content="1488639804719704">

    <!-- twitter cards -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@Wacoal_webstore">
    {%- if(pageTitle) %}
      <meta property="twitter:title" content="{{ pageTitle }}">
    {%- else %}
      <meta property="twitter:title" content="{{ title }}">
    {%- endif %}
    {%- if(pageDescription) %}
      <meta name="twitter:description" content="{{ pageDescription }}">
    {%- else %}
      <meta name="twitter:description" content="{{ description }}">
    {%- endif %}
    <meta name="twitter:url" content="{{ pageOgpImage | ogpPath }}">
    <meta name="twitter:image" content="{{ path }}{{ pageOgpImage }}">

    <!--#include virtual="../_includes/head-common-file.html" -->

    <!-- コンテンツ独自css,jsの読み込み -->
    <link rel="stylesheet" href="/src/css/styles.scss"/>
    <script src="/src/js/main.js" type="module"></script>
    {% block file %}{% endblock %}
  </head>

  <body>
    <!--#include virtual="../_includes/header.html" -->

    <!-- ページコンテンツここから -->
    {% block contents %}{% endblock %}
    <!-- ページコンテンツここまで -->

    <!--#include virtual="../_includes/footer.html" -->
  </body>
</html>