{# KV ================================= #}
<section class="p-pointback-kv">
	<div class="p-pointback-kv__inner">
		<img class="p-pointback-kv__img" src="{{ '/assets/img/pointback/kv.jpg' | imgPath }}" alt="ポイントバックキャンペーン">
	</div>
</section>
